@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}


.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #666;
  opacity: 0.5;
  margin: 0 4px !important;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #000;
}


.btn-primary {
  padding: 0.5rem 1.5rem;
  background-color: #16a34a;
  color: white;
  border-radius: 9999px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #15803d;
}

.btn-secondary {
  padding: 0.5rem 1.5rem;
  background-color: #e5e7eb;
  color: #374151;
  border-radius: 9999px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #d1d5db;
}

.btn-three {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 9999px;
  font-weight: 500;
  transition: all 0.3s ease;
  width: auto;
}

.btn-three:hover {
  background-color: #000000;
  color: #ffffff;
}


.card-bg {
  background-color: #f3f4f6;
  border-radius: 1rem;
}

.btn-red {
  padding: 0.5rem 1.5rem;
  background-color: #dc2626;
  color: white;
  border-radius: 9999px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-red:hover {
  background-color: #b91c1c;
}